{% extends "base.html" %}
{% block title %}Lauf Podcasts{% endblock %}
{% block content %}
<div class="container pt-4">
    <div class="alert alert-info box-shadow" role="alert">
    Hinweis: alle Podcast-Daten (Cover-Bilder, Beschreibungen, Episoden-Texte, usw.) werden automatisch aus den von den jeweiligen Podcast-Betreibern öffentlich zur Verfügung gestellten Podcasts-Feeds generiert. Das Urheberrecht verbleibt natürlich bei den Betreibern der Podcasts.
    </div>
</div>
<div class="container pt-4">
    <div class="row">
        {% for p in podcasts|sort(attribute='last_publish', reverse=True) %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <a href="{{p.sanitized_title}}/index.html">
                    <img class="card-img-top" src="{{p.sanitized_title}}/cover.jpg">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{p.title}}</h5>
                    <p>
                        Letzte Episode: {{p.last_publish|timestamp2date}}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
