{% extends "base.html" %}
{% block title %}Liste deutschsprachiger Lauf Podcasts | Lauf Podcasts{% endblock %}
{% block canonical %}<link rel="canonical" href="https://lauf-podcasts.flopp.net/" />{% endblock %}
{% block content %}
<div class="container podcast-header box-shadow p-4">
<h1>Lauf Podcasts</h1>
<p>
Dies ist eine manuell kuratierte Liste von deutschsprachigen Podcasts, die sich hauptsächlich mit den Themen Laufen, Joggen, Trailrunning und dem Laufsport im Allgemeinen beschäftigen.
</p>
</div>
        
<div class="container pt-4">
    <div class="alert alert-info box-shadow" role="alert">
    Hinweis: alle Podcast-Daten (Cover-Bilder, Beschreibungen, Episoden-Texte, usw.) werden automatisch aus den von den jeweiligen Podcast-Betreibern öffentlich zur Verfügung gestellten Podcasts-Feeds generiert. Das Urheberrecht verbleibt natürlich bei den Betreibern der Podcasts.
    </div>
</div>
<div class="container pt-4">
    <div class="row">
        {% for p in podcasts %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <a href="{{p.sanitized_title}}/">
                    <img class="card-img-top" src="{{p.sanitized_title}}/cover.jpg">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{p.title}} </h5>
                    <p>
                        Letzte Episode: {{p.last_publish|timestamp2date}}
                    </p>

                    {% if p.new %}
                    <span class="badge badge-pill badge-success">Neu hinzugefügt</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
