{% extends "base.html" %}
{% block title %}Lauf Podcasts - Info{% endblock %}
{% block content %}
<div class="container podcast-header box-shadow p-4">
    <h1>Lauf Podcasts</h1>
    Dies ist ein Aggregator für deutschsprachige Lauf-Podcasts.
    
    <p>
    Die Liste der Podcasts wird manuell gepflegt, während die Infos zu den jeweiligen Podcasts automatisch über die zugehörigen RSS-Feeds bezogen werden. 
    </p>
    
    <p>
    Fehlt ein Podcast oder gibt es sonstiges Feeback? <i class="fas fa-arrow-right"></i> Mail an <a href="mailto:fpigorsch@gmail.com"><i class="far fa-envelope"></i> fpigorsch@gmail.com</a>!
    </p>
    
    <p>
    Der Source-Code des Lauf Podcast Aggerators ist bei Github zu finden: <a href="https://github.com/flopp/lauf-podcast-aggregator" target="_blank"><i class="fab fa-github"></i> github.com/flopp/lauf-podcast-aggregator</a>.
    </p>
</div>
{% endblock %}
